@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {

    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --font: 'Kumbh Sans', sans-serif;

    //Background gradient:
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);


    //text
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    //divider
    --Light-grayish-blue: hsl(240, 5%, 91%);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;

}

body{
    line-height: 1.5;
    padding: 4em 2em;
    width: 100%;
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
#box{
    display: none;
}
p{
    font-size: 0.8rem;
    color: var(--Very-dark-grayish-blue);
    display: none;
}


.faq--container{
    width: 100%;
    max-width: 480px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
    .img--section{
       
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        

        img:not(#box){  
            
            position: relative;
             top: -50px;
             background-repeat: no-repeat;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-position-x:30px ;
        background-position-y:95px ;
        }

       
       
        

        

        
       
    }
   
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

h1{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.answer--section{
    padding: 1em;
    max-width: 480px;
   

    .question{
        display: grid;
        grid-template-columns: 1fr 20px;
        margin-bottom: 2em;
      position: relative;
      &::after{
          position: absolute;
          content: '';
          border-bottom: 1px solid;
          width: 100%;
          height: 100%;
          bottom: -20px;
          border-color: var(--Light-grayish-blue);

      }
       
    }

    article{
        max-width: 480px;

        h2{
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--Very-dark-desaturated-blue);
            cursor: pointer;

            &:hover{
                color: var(--Soft-red);
            }
        }

       
    }


    button{
        align-self: start;
        display: inline-block;
        appearance: none;
        border: none;
        background-color: unset;
        cursor: pointer;
        svg{
            pointer-events: none;
        }
    }
}

.show{
    display: inline-block;
}
footer{
   
    width: 100%;
    max-width: 480px;
    margin-top: 4em;
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 100%); }
  
}


@media screen and (min-width:1100px){

    #box{
        display: block;
        position: absolute;
        left: -100px;
    }


    .faq--container{
       max-width: 900px;
   
        grid-template-columns: repeat(2, 1fr);
        
      .answer--section{
          height: 600px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
       
          
      }

        .img--section{
           
            img:not(#box){  
            
              
                background-image: url(../images/bg-pattern-desktop.svg);
                background-size: cover;
                background-position: bottom -10px left 0px;
          
            }
    

            
        }

        
        
    }
}

